.button {
  position: relative;
  padding: 10px 70px;
  font-size: 24px;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  background-color: var(--pink);
  color: var(--white);
  transition: opacity 0.3s ease;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border: 2px solid var(--white);
  border-top-color: transparent;
  border-radius: 50%;
  animation: var(--spinner-animation);
}

.button:hover {
  opacity: 0.7;
}

.iconButton {
  padding: 0;
  min-width: 46px;
  min-height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 16px;
}

.btn-large {
  font-size: 32px;
  border-radius: 16px;
  font-weight: 700;
  padding: 20px 70px;
}

.btn-large .spinner {
  width: 20px;
  height: 20px;
}

.transparent {
  background: transparent;
  color: var(--black);

} 

.transparent .spinner {
  border: 2px solid var(--black);
  border-top-color: transparent;
}

.iconButton .spinner {
  border: 2px solid var(--black);
  border-top-color: transparent;
}