.error {
  display: flex;
  flex-direction: column;
  gap: 10%;
  height: 100%;
  padding: 0 7%;
  overflow: scroll;
  justify-content: center;

  &__title {
    margin: 0;
    font-size: 3rem;
  }

  &__description {
    font-size: 2rem;
  }
}