@import './variables.scss';

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10%;
  height: 100%;
  padding: 7%;
  overflow: scroll;

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    margin: 0;
    padding: 15px 0;
    height: 100%;
    font-size: 2rem;

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 25px;
    }
  }

  &__button {
    align-self: center;
  }
}